body {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: #f2f2f2;
  font-weight: 700;
  font-size: 2em;
  max-width: 200px;
}

section {
  max-width: 320px;
  padding: 45px;
  height: 350px;
}

section:nth-of-type(1) {
  background-color: #e38826;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section:nth-of-type(2) {
  background-color: #006970;
}
section:nth-of-type(3) {
  background-color: #004241;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p {
  max-width: 240px;
  height: 130px;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6em;
}

section > a > div {
  background-color: #f2f2f2;
  padding: 15px;
  border: 0;
  border-radius: 25px;
  font-size: 1em;
  font-family: "Lexend Deca", sans-serif;
  width: 150px;
  text-align: center;
}

section > a {
  text-decoration: none;
}

section:nth-of-type(1) > a > div {
  color: #e38826;
}

section:nth-of-type(n) > a > div:hover {
  color: #f2f2f2;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  padding: 14px;
}

section:nth-of-type(2) > a > div {
  color: #006970;
}

section:nth-of-type(3) > a > div {
  color: #004241;
}

@media screen and (min-width: 769px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  section {
    min-width: 190px;
  }
  p {
    max-width: 230px;
  }
  section:nth-of-type(1) {
    background-color: #e38826;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  section:nth-of-type(3) {
    background-color: #004241;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}
